<div class="row center-block">
  <div class="col-md-12">
    <h4 class="text-primary text-center">Books</h4>
  </div>
</div>
<p *ngIf="">h</p>
<div class="row center-block" style="width: 50%" *ngFor="let book of Books">
  <hr>
  <div class="col-xs-12"  style="background-color: darkcyan">
    <div class="pull-left" style="color: aliceblue">
      <h4 class="list-group-item-heading" style="margin-left: 20px">{{book.bookId}}. {{book.bookName}}</h4>
      <p class="list-group-item-text">{{book.bookAuthor}}</p>
      <p class="list-group-item-text">{{book.bookYear}}</p>
    </div>
    <button class="btn btn-success pull-right" (click)="addFavorites(book)" style="height:80px">Add to Favorites</button>
  </div>
</div>
